---
import LabelTag from "@/components/ui/tags/label-tag";
import PostStack from "@/components/ui/post-stack";
import BaseLayout from "@/layouts/base-layout.astro";
import { supportedLangs } from "@/utils/i18n";
import { useTranslations } from "@/utils/i18n";
import {
  getRankedSnapshotsForTag,
  getTagMapForLang,
} from "@/utils/post-cache";

export const getStaticPaths = async () => {
  const paths = await Promise.all(
    supportedLangs.map(async (lang) => {
      const tags = await getTagMapForLang(lang);
      return Array.from(tags.keys()).map((tag) => ({
        params: { lang, tag },
        props: { lang, tag },
      }));
    })
  );
  return paths.flat();
};

const { lang, tag } = Astro.props;
const filteredSnapshots = await getRankedSnapshotsForTag(lang, tag);
const t = useTranslations(lang);
---

<BaseLayout
  title={`${t("postsWithTag.firstPart")} "${tag}" ${t("postsWithTag.secondPart")}`}
  description={`${t("postsWithTag.description.firstPart")} "${tag}" ${t("postsWithTag.description.secondPart")}`}
  headerAsH1={false}
>
  <article>
    <h1
      class="mx-auto mb-10 text-4xl leading-loose font-black text-dracula-light"
    >
      {t("postsWithTag.firstPart")}
      <LabelTag lang={lang} label={tag} large />
      {t("postsWithTag.secondPart")}
    </h1>

    <PostStack
      lang={lang}
      initialSnapshots={filteredSnapshots}
      totalPostCount={filteredSnapshots.length}
      searchInInitialSnapshots={true}
      client:load
    />
  </article>
</BaseLayout>
